:root {
    --backCol: #193d3f;
    --primCol: #ffe762;
}

.centerText{
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gold{
    transition: color ease-in-out 0.5s;
    color: var(--primCol);
}

.topText {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

.topPanel {
    border-radius: 7px;

    margin-bottom: 20px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;


    display: flex;
    align-items: center;
    justify-content: stretch;
    height: 80px;

    background-color: var(--backCol);
    color: var(--primCol);
    font-style: normal;


    transition: background-color ease-in-out 0.5s;
}

body {

    transition: background-color ease-in-out 0.5s;
    background-color: darkcyan;
}

.button {
    border-radius: 7px;
    color: var(--backCol);
    background-color: var(--primCol);
    font: bold 14px "Roboto", sans-serif;

    margin-left: 5px;
    margin-right: 5px;
    height: 50%;
    box-sizing: border-box;
}

.button:hover{
    color: white;
    background-color: darkgoldenrod;


    transition: background-color, color ease-in-out 0.5s;
}

p:hover{
    color: white;

    transition: color ease-in-out 0.5s;
}

.bottomPanel {
    border-radius: 7px;

    margin-bottom: 20px;

    padding: 5px;


    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;

    background-color: var(--backCol);
    color: var(--primCol);
    font-style: normal;

    transition: color, background-color ease-in-out 0.5s;
}
.u{
    text-decoration: underline;
}
.bigText{
    font-size: 50px;
}
.ns{
    user-select: none;
}
.us{
    user-select: all;
}

.panel{
    text-spacing: none;
}

h3,
h4,
p {
    margin: 5px;
    user-select: none;

    transition: color    ease-in-out 0.5s;
}

.link{
    font: 14px "sans-serif", sans-serif;
    display: inline-block;
    transition: transform 0.1s ease-in-out;

    color: blue;
}
.link:hover{
    font: bold 14px "sans-serif", sans-serif;
    cursor: pointer;
    transform: scale(1.1);
}

.rotbut{
    height: 40px;
    transition: 0.5s ease-in-out;
}
.rotbut.rotate{
     transform: rotate(180deg);
}


body.alt-mode{
    color: black;
    background-color: white;
}
body.alt-mode p:hover{
    color: #262626;
}

body.alt-mode p,
body.alt-mode h1{
    color: black;
}

body.alt-mode header,
body.alt-mode footer{
    background-color: lightgray;
}

body.alt-mode button{
    background-color: darkgrey;
    color: black;
}

.stickBot {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

img{
    margin: 5px;
}

.glow{
    transition: box-shadow 0.2s ease-in-out;
}

.glow:hover{
    box-shadow: 0px 5px 25px yellow;
    box-shadow-blur: 5px;
}



.overlay{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: black;

    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;

    border-radius: 25%;
}

.pfp{
    border-radius: 25%;
    position: relative;
    left: calc(50% - 125px);
    width: 250px;
    overflow: hidden;

    transition: .5s ease;
}

.pfp:hover .overlay{
    opacity: 0.97;
    mask-clip: content-box;
}

.pfp:hover{
    border-radius: 50%;
}

.pfp:hover .pfpImage{
    filter: brightness(200%);
}

.pfpImage{
    border-radius: 25%;
    display: block;
    width: 100%;
    height: auto;
    margin: 0;

    transition: .5s ease;
}

.overlay p{
    text-transform: uppercase;
    margin: 0;
    font: bold 50px "Roboto", sans-serif;

    background: url("./graphics/PFP_Lain.png") no-repeat center / cover;

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.clickable:hover{
    cursor: pointer;
}